[user]
	; email = otaviocosta23212@gmail.com
	; name = Otávio Costa
name = otaviocosta-ezops
email = otavio.costa@ezops.cloud
[credential]
	; helper = store
[push]
	autoSetupRemote = true

[includeIf "gitdir:~/dev/notes/**"]
  path = /home/otavio/.gitconfig-ezops

[includeIf "gitdir:/home/otavio/dev/notes/pidj"]
  path = /home/otavio/.gitconfig-ezops

