[user]
  email = otaviocosta23212@gmail.com
  name = Otávio Costa
[credential]
	helper = store
[push]
	autoSetupRemote = true

[http]
	version = HTTP/1.1
	postBuffer = 524288000
	maxRequests = 1
[core]
	compression = 0
