@import "wallust/colors-waybar.css";

* {
  /* color:#d4be98; */
  font-size: 12px;
  font-family: "JetBrainsMono";
  border: none;
}

window#waybar {
  /* all: unset; */
  color: #d4be98;
}

.modules-left {
  /* padding:7px; */
  /* margin:0 0 3 0; */
  padding-right: 10px;
  border-radius: 0 10px 10px 0;
  background: #000000;
}

.modules-center {
  /* padding:7px; */
  /* margin:0 0 3 10; */
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px 10px 10px 10px;
  background: #000000;
}

.modules-right {
  /* padding:7px; */
  /* margin:0 0 3 10; */
  padding-left: 10px;
  border-radius: 10px 0 0 10px;
  background: #000000;
}

tooltip {
  background: #000000;
  color: #d4be98;
}

#clock:hover,
#custom-pacman:hover,
#custom-notification:hover,
#bluetooth:hover,
#network:hover,
#battery:hover,
#cpu:hover,
#memory:hover,
#temperature:hover {
  /* transition: all .3s ease; */
  color: grey;
}

#custom-notification {
  padding: 0px 5px;
  /* transition: all .3s ease; */
  color: #d4be98;
}

#clock {
  padding: 0px 5px;
  color: #d4be98;
  /* transition: all .3s ease; */
}

#custom-pacman {
  padding: 0px 5px;
  /* transition: all .3s ease; */
  color: #d4be98;

}

#workspaces button {
  all: unset;
  padding: 0px 5px;
  color: alpha(grey, .4);
  /* transition: all .2s ease; */
}

#workspaces button:hover {
  color: rgba(0, 0, 0, 0);
  border: none;
  /* transition: all 1s ease; */
}

#workspaces button.active {
  color: #d4be98;
  border: 20px;
}

#workspaces button.empty {
  color: #7a7a7a;
  border: none;
}

#workspaces button.empty:hover {
  color: rgba(0, 0, 0, 0);
  border: none;
  /* transition: all 1s ease; */
}

#workspaces button.empty.active {
  color: grey;
  border: none;
}

#bluetooth {
  padding: 0px 5px;
  /* transition: all .3s ease; */
  color: #d4be98;

}

#network {
  padding: 0px 5px;
  /* transition: all .3s ease; */
  color: #d4be98;

}

#battery {
  padding: 0px 5px;
  /* transition: all .3s ease; */
  color: #d4be98;


}

#battery.charging {
  color: #26A65B;
}

#battery.warning:not(.charging) {
  color: #ffbe61;
}

#battery.critical:not(.charging) {
  color: #f53c3c;
  /* animation-name: blink; */
  /* animation-duration: 0.5s; */
  /* animation-timing-function: linear; */
  /* animation-iteration-count: infinite; */
  /* animation-direction: alternate; */
}

#group-expand {
  padding: 0px 5px;
  /* transition: all .3s ease;  */
}

#custom-expand {
  padding: 0px 5px;
  color: alpha(#d4be98, .2);
  /* transition: all .3s ease;  */
}

#custom-expand:hover {
  color: rgba(255, 255, 255, .2);
}

#custom-colorpicker {
  padding: 0px 5px;
}

#cpu,
#memory,
#temperature {
  /* padding: 0px 5px; */
  /* transition: all .3s ease;  */
  color: #d4be98;

}

#custom-endpoint {
  color: transparent;

}

#tray {
  padding: 0px 5px;
  /* transition: all .3s ease;  */

}

#tray menu * {
  padding: 0px 5px;
  /* transition: all .3s ease;  */
}

#tray menu separator {
  padding: 0px 5px;
  /* transition: all .3s ease;  */
}
